#
# Autotools
#
Makefile.in
Makefile

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/stamp-h?
/libtool
/m4/
.deps/
.dirstamp
.libs/
/build-aux/ar-lib
/build-aux/compile
/build-aux/config.*
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing

#
# C artifacts
#
*.o
*.ko
*.obj
*.elf

*.gch
*.pch

*.lib
*.a
*.la
*.lo

*.dll
*.so
*.so.*
*.dylib

*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.dSYM/

*~
